<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>视频选集</title>  
    <style>
        .button-grid {
            padding: 0;
            margin: 0;
            position: absolute;
            width: 20%;
            height: 60%;
            right: 3%;
            background-color: blue;
            top: 10%;
            overflow-y: auto;
            /* word-wrap: break-word; */
        }
       div p  {
        padding: 0px;
        margin: 6px;
            background-color: yellow;
           
        }
    </style>
</head>  
<body>  
<div class="button-grid">  
    <p><a href="#">123212313123123123123123123123113</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 
    <p><a href="#">123213</a></p>
    <p><a href="#">123213</a></p> 

   
    
</div>
</body>  
</html>