body{
    padding:0%;
    margin: 0%;
    background-image: url("/static/images/20170116122200_XzHWJ.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {  
    list-style-type: none; /* 移除列表项前的默认符号 */  
    margin: 0; /* 移除外边距 */  
    padding: 0; /* 移除内边距 */  
    overflow: hidden; /* 清除浮动影响（虽然在这个例子中可能不是必需的，但通常是个好习惯）*/  
    background-color:black; /* 背景颜色 */  
  }  
    
  nav ul li {  
    display: inline-block; /* 使列表项水平排列 */  
  }  
    
  nav ul li a {  
    display: block; /* 将链接转换为块级元素，以便应用完整的高度和宽度 */  
    color: white; /* 文本颜色 */  
    text-align: center; /* 文本居中（对于块级元素可能不是必需的，但对于内联元素很有用）*/  
    padding: 14px 16px; /* 内边距 */  
    text-decoration: none; /* 移除下划线 */  
  }  
    
  nav ul li a:hover {  
    background-color: #ddd; /* 鼠标悬停时的背景颜色 */  
    color: black; /* 鼠标悬停时的文本颜色 */  
  }

  .daohang{
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: #333;
  }


.container{

  position: absolute;
  width: 100%;
  height: 100%;
} 
#vio{
  position: fixed;
  width: 50%;
  height: auto;
  left: 5%;
}

video{
  
  border-radius: 20px;
  border: 4px solid chocolate;
  opacity: 0.6;
}


div p  {
position: relative;
padding: 6px;
margin: 10px;
margin-left: 0;
border-radius: 4px;
width: 100%;
font-size: smaller;  
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4B5563;
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
} 

::-webkit-scrollbar:hover {
  width: 7px;
  height: 7px;
}

.cont{

  position: fixed;
  /* right: 1%; */
  top: 20%;
  width: 11%;
  height: 50%;
  background-color:#ecedee;
  right:1%;
  overflow-y:overlay;
  overflow-x:hidden;
  border-radius: 7px;
  margin: 0;
  padding: 0;
  opacity: 0.8;

}


div p:hover{
  color: sienna;

}

@media (max-width: 600px) {  

  body{
    
    background-repeat: repeat;
    /* background-size: cover; */
  }
}
