  
body{padding: 0;
    margin: 0;
    
}
.container{
position: absolute;
width: 100%;
height: 100%;
background-image: url('/static/images/咱们裸熊5k壁纸_图片编号334979_壁纸网.jpeg');
background-size: cover;
background-repeat: no-repeat;
}

#dl{
position: absolute;
top: 20%;
right: 2%;
width: 22%;
height: 40%;
/* background-color: rgba(240, 236, 236); */
border-radius: 9px;
border: 2px solid burlywood;
opacity: 0.7
;
}

#error{
    position:absolute;
    color: red;
    top: 40%;
    left: 10%;
    font-size: smaller;
}

input[name="user"],input[name="pwd"]{
position: absolute;
top: 12%;
left: 4%;
height: 7%;
width: 80%;
border-radius: 4px;
border: 1px solid white;
background-color: white;
opacity: 0.8;
}
input[name='pwd']{
top: 24%;
}

input[value='登录']{
position: absolute;
top: 55%;
left: 12%;
border-radius: 10px;
/*四角的弧度*/
border: 2px solid black;
/*外边框线大小,颜色*/
height: 10%;
width: 25%;
background-color: beige;
/*背景色*/
color: black;
/*字体颜色*/
}
input[value='注册']{
position: absolute;
top: 55%;
left: 54%;
border-radius: 10px;
height: 10%;
width: 25%;
border: 2px solid black;
color: black;
background-color: beige;
}

[placeholder="验证码"]{
position: absolute;
top: 36%;
left: 4%;
height: 7%;
width: 40%;
border-radius: 4px;
border: 1px solid white;
background-color: white;
opacity: 0.8;

}

[alt="!!"]{
position: absolute;
top: 35%;
right: 14%;
border-radius: 3px;
}
[href="#"]{
position: absolute;
top: 45%;
right: 14%;
color: white;
font-size: smaller;
}



@media screen and (max-width: 600px) {
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-image: url('../static/images/咱们裸熊5k壁纸_图片编号334979_壁纸网.jpeg'); */
        background-size:500px 300px;
        background-repeat: repeat-y;
        background-position: 50%;
    }
    #dl{
        width: 40%;
        height: 40%;
        top: 32%;
        left: 30%;
        opacity: 1;
        /* border-radius: 4px; */
        border: 0px;
    }
    
    [placeholder="验证码"]{
        height: 7%;
        width: 80%;
    }
    [alt="!!"]{
        top:48%;
        height: 10%;
        width: 88%;
        right: 8%;
    }
    input[value='登录'],input[value='注册']{
        top:70%;
        width: 30%;
       
    }
    [href="#"]{
        top:60%
    }
    input[value='登录'],input[value='注册']{
        border: 1px solid white;
        background-color: white;
    }
    #error{
        top: 55%;
        font-size:10%;
        left: 5%;
    }
}